/* #region FontFace */

/* PRETENDARD */

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* GMARKET SANS */

@font-face {
  font-family: "Gmarket Sans";
  src: url("../fonts/GmarketSansMedium.woff2") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gmarket Sans";
  src: url("../fonts/GmarketSansBold.woff2") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* #endregion */

/* #region Layout Style */

/* =======================
전체 레이아웃 스타일
======================= */

/* 섹션 중앙정렬 - 배정호 */

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 컨테이너 최대 크기 고정 - 배정호 */

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

hr.divider {
  width: 100%;
  max-width: 960px;
  height: 1px;
  background: var(--medium-gray);
  opacity: 0.6;
  border: 0;
}

/* top 이동시 스크롤 부드럽게 - 배정호 */
html {
  scroll-behavior: smooth;
}

/* 섹션그룹 간 갭/패딩 - 배정호 */

.section-group {
  display: flex;
  flex-direction: column;
  gap: 96px;
  padding: 96px 0;
}

/* #endregion */

/* #region Utility */

/* =======================
공통 유틸리티 클래스
======================= */

/* flex utility 추가 (vertical, horizontal, jcc, jcsb, acc) - 배정호 */

.vertical {
  display: flex;
  flex-direction: column;
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-end {
  justify-content: end;
}
.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

/* ellipsis : 텍스트가 크기 넘어가면 '...'으로 표시 - 배정호 */

.ellipsis {
  overflow: hidden;
  white-space: nowrap; /* 줄바꿈 금지 */
  text-overflow: ellipsis; /* ... 표시 */
}

/* visually-hidden 클래스 추가 - 배정호 */

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;

  margin: -1px;
  padding: 0;

  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;

  border: 0;
}

/* gap 유틸리티 클래스 - 배정호 */
.gap-xs {
  gap: 8px;
}
.gap-s {
  gap: 16px;
}
.gap-m {
  gap: 24px;
}
.gap-l {
  gap: 32px;
}
.gap-xl {
  gap: 40px;
}

/* #endregion */

/* #region Typography */

/* TYPOGRAPHY css화-이민호 작성 */

.heading-l {
  font: var(--heading-l);
}
.heading-l-tight {
  font: var(--heading-l-tight);
}
.heading-m {
  font: var(--heading-m);
}
.heading-s {
  font: var(--heading-s);
}
.heading-x-s {
  font: var(--heading-x-s);
}
.heading-x-x-s {
  font: var(--heading-x-x-s);
}

/* Body */

.body-l {
  font: var(--body-l);
}
.body-m-plus-400 {
  font: var(--body-m-plus-400);
}
.body-m-plus-500 {
  font: var(--body-m-plus-500);
}
.body-m-400 {
  font: var(--body-m-400);
}
.body-m-500 {
  font: var(--body-m-500);
}

/* Caption */

.caption-m {
  font: var(--caption-m);
}
.caption-s {
  font: var(--caption-s);
}

/* Display */

.display-700 {
  font: var(--display-700);
}
.display-500 {
  font: var(--display-500);
}
.lead-m {
  font: var(--lead-m);
}

/* Label */

.label-l {
  font: var(--label-l);
}
.label-m-700 {
  font: var(--label-m-700);
}
.label-m-500 {
  font: var(--label-m-500);
}

/* #endregion */

/* #region Color */

/* Color 유틸리티 클래스 - 배정호 */

/* Background */
.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-title-black {
  background-color: var(--title-black);
}

.bg-main-black {
  background-color: var(--main-black);
}

.bg-light-gray {
  background-color: var(--light-gray);
}

.bg-super-light-gray {
  background-color: var(--super-light-gray);
}

.bg-main-button {
  background-color: var(--main-button);
}

.bg-white {
  background-color: var(--white);
}

/* Color */
.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.text-title-black {
  color: var(--title-black);
}

.text-main-black {
  color: var(--main-black);
}

.text-light-gray {
  color: var(--light-gray);
}

.text-super-light-gray {
  color: var(--super-light-gray);
}

.text-white {
  color: var(--white);
}
/* #endregion */

/* #region Popup */

.popup-ui {
  position: fixed;
  top: 150px;
  margin: 0 auto;
  padding: 28px 36px 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  background: var(--white);
  border: 3px solid var(--secondary);
  border-radius: 8px;
  z-index: 999;
}
.popup-ui[open] {
  display: flex;
  flex-direction: column;
}

.popup-ui > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}

.popup-ui > div > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.popup-ui div:first-of-type {
  padding-top: 0;
}
.popup-ui div:last-of-type {
  padding-bottom: 0;
  border-bottom: none;
}

.popup-ui h2 {
  font-size: 18px;
  font-weight: 500;
}
.popup-ui h3 {
  font-size: 16px;
  font-weight: 500;
}
.popup-ui p {
  color: var(--title-black);
  font-size: 14px;
  padding-left: 8px;
  line-height: 22px;
}
.popup-ui p .em {
  font-weight: 500;
  font-size: 1.03em;
  color: #356dff;
  background: #edf3ff;
  padding: 2px 4px;
  border-radius: 8px;
}

.popup-ui a.em {
  color: var(--primary);
}
.popup-ui a.em span {
  border-bottom: 1px solid var(--primary);
}

.popup-ui div.popup-ui-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.popup-ui div.popup-ui-buttons > div {
  flex-direction: row;
  gap: 16px;
}

.popup-ui div.popup-ui-buttons label {
  font-size: 12px;
  user-select: none;
}

#agree {
  cursor: pointer;
}

.popup-close {
  border: 1px solid #c9c9c9;
  border-radius: 6px;
  background: white;
  padding: 8px 16px;
  font-weight: 500;
  color: var(--primary);
  user-select: none;
  cursor: pointer;
}
.popup-close:hover {
  background: #f3f3f3;
}
.popup-close:active {
  background: #ebebeb;
}

.popup-ui a:focus {
  outline: none;
  border: none;
}

/* #endregion */
